/* shared style */
/* webpage font */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding: 0px;
    margin: 0;
    /* background-color: #ffebcd57; */
    font-family: "Afacad Flux", sans-serif;
}
a:hover{
   color: antiquewhite; 
   background-color: #7c7ce3;
   padding: 7px;
   margin-right: 10px;
   border-radius: 10px;
}
/* header start */
.website-heading{
    font-size: 70px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    padding: 50px;
    height: 150px;
    background-image: url('../assets/website\ layout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .9;
}
h1{
    color: rgb(8, 36, 50);
    text-shadow: 3px 3px whitesmoke;
    text-align: center;
    text-transform: capitalize;
}
/* header end */

/* menu style start */
section{
    margin: 40px 130px;
    padding: 40px 80px;
    background-color: #f0daad87;
    box-shadow: 0px 0px 3px 3px ;
}
/* website layout desc section start */
.website-layout-container{
    padding: 10px 90px 30px;
}
.layout-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
    padding: 20px 0px 30px 30px;
    font-size: 1.1em;
}
.layout-desc{
    /* border: 2px solid;  */
    margin: 20px 0px;
    padding: 10px 0px 10px 80px;
    text-align: justify;
}
.layout-anchor{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.layout-anchor::first-letter{
    text-transform: capitalize;
}
.text-emphasize{
    font-weight: 700;
}
.layout-img>img{
    box-shadow: 1px 1px 3px 3px #a52a2a45;
}

/* website layout desc section start */

/* css measuring section start */
.css-measuring-container{   
    text-align: center;      
}
/* .measuring-heading{
    color: rgb(3, 20, 30);
    text-shadow: 3px 3px lightblue;
    font-size: 4em;
    margin-bottom: 20px;
    text-transform: capitalize;
} */
.measuring-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* .measuring-items-img{
    padding: 30px 80px;
} */
.table-caption,.section-heading{
    font-size: 3rem;
    font-weight: 700;
    margin: 0px 0px 50px;
    color: rgb(3, 20, 30);
    text-shadow: 3px 3px lightblue;
}
.table-caption> a {
    color: rgb(3, 20, 30);
    text-shadow: 3px 3px lightblue;
    text-decoration: none;
    margin: 50px;
}
table{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, 0.252);
    text-align: center;
    border-collapse: collapse; 
}
th,tr,td{
    padding: 8px;
    border: 2px solid #040445;
}
/* css measuring section start */
/* css display property start */
.css-display-container-1{
    display: flex;
    justify-content: space-between;
    border:2px solid #7c7ce3;
    padding: 10px;
}
.css-display-container-2{
    display: flex;
    justify-content: space-around;
    border:2px solid #7c7ce3;
    padding: 10px;
    margin: 20px 0px;
}
.display-container{
    border:2px solid #040445;
    text-align: center;
    padding: auto;

}
.justify-content-container-1,.justify-content-container-2,.justify-content-container-3{
    border: 2px solid #7c7ce3;
    /* width: 30%; */
    display: flex;
}
.box-container{
    border: 2px solid #040445;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0px;
}
/* css display property end */